@font-face {
  font-family: 'MS Sans Pixel 13';
  src: url('./assets/font/MS-Sans-13.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'MS Sans Pixel 17';
  src: url('./assets/font/MS-Sans-17.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

html, body, #root {
  min-width: 100vw;
  min-height: 100vh;

  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.3em;
  font-family: 'MS Sans Pixel 13', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: none;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  image-rendering: pixelated;
  text-rendering: optimizeSpeed;
}